# The Integer, Floating-Point, and String Data Types

### Common Data Types

Integers === -2, -1, 0, 1, 2, 3, 4, 5 <br>
Floating-point numbers === -1.25, -1.0, --0.5, 0.0, 0.5, 1.0, 1.25 <br>
Strings === 'a', 'aa', 'aaa', 'Hello!', '11 cats'

### String Concatenation and Replication

In [1]:
name = 'Alice' + 'Bob'
print(name)

AliceBob

In [3]:
name = 'Alice ' * 5
print(name)

Alice Alice Alice Alice Alice

In [4]:
name = 'Alice' * 'Bob'
print(name)

TypeError: can't multiply sequence by non-int of type 'str'

In [5]:
name = 'Alice' * 5.0
print(name)

TypeError: can't multiply sequence by non-int of type 'float'

### Storing Values in Variables