# WORKING WITH LISTS

# Looping Through an Entire List

In [2]:
magicians = ['alice', 'david', 'carolina']

for magician in magicians: 
    print(magician.title())

Alice
David
Carolina

<b>for magician in magicians:</b>
    
This line tells Python to retrieve the first value from the list magicians
and store it in the variable magician. This first value is 'alice'. Python then 
reads the next line:

<b>print(magician)</b>

Python prints the current value of magician, which is still 'alice'. Because 
the list contains more values, Python returns to the first line of the loop.
Python retrieves the next name in the list, 'david', and stores that value 
in magician.

### Doing More Work Within a for Loop

In [3]:
magicians = ['alice', 'david', 'carolina'] 
for magician in magicians: 
    print(magician.title() + ", that was a great trick!") 
    print("I can't wait to see your next trick, " + magician.title() + ".\n")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

### Doing Something After a for Loop

In [4]:
magicians = ['alice', 'david', 'carolina'] 

for magician in magicians: 
    print(magician.title() + ", that was a great trick!") 
    print("I can't wait to see your next trick, " + magician.title() + ".\n")
    
print("Thank you, everyone. That was a great magic show!") # out of the for loop

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you, everyone. That was a great magic show!

# Making Numerical Lists

Lists are ideal for storing sets of numbers, and Python provides a number of tools to help you work efficiently with lists of numbers.

### Using the range() Function

Python’s range() function makes it easy to generate a series of numbers.

In [6]:
for values in range(1,5):
    print (values)

1
2
3
4

In this example, range() prints only the numbers 1 through 4. This is 
another result of the off-by-one behavior you’ll see often in programming 
languages. The range() function causes Python to start counting at the first 
value you give it, and it stops when it reaches the second value you provide. 
Because it stops at that second value, the output never contains the end 
value, which would have been 5 in this case.

In [7]:
for value in range(1,6):
    print(value)

1
2
3
4
5

### Using range() to Make a List of Numbers

In [8]:
numbers = list(range(1,6)) # creating a list named 'numbers'

print(numbers)

[1, 2, 3, 4, 5]

In [9]:
even_numbers = list(range(2,12,2))

print(even_numbers)

[2, 4, 6, 8, 10]

In [12]:
squares = []

for value in range(1,100):
    square = value**2
    squares.append(square)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

In [13]:
squares = []
for value in range(1,11):
    squares.append(value**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Simple Statistics with a List of Numbers

In [20]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

print(min(digits))
print(max(digits))
print(sum(digits))

0
9
45

### List Comprehensions

A list comprehension allows you to generate 
this same list in just one line of code. A list comprehension combines the 
for loop and the creation of new elements into one line, and automatically 
appends each new element.

In [21]:
squares = [value**2 for value in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Working with Part of a List

### Slicing a List

In [23]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[0:3]) # stop at 3 that's why it didnpt take 3rd value

['charles', 'martina', 'michael']

In [24]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[:3])

['charles', 'martina', 'michael']

In [25]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[2:])

['michael', 'florence', 'eli']

In [30]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[-3:])

['michael', 'florence', 'eli']

### Looping Through a Slice

In [35]:
players = ['charles', 'martina', 'michael', 'florence', 'eli'] 

print("Here are the first three players on my team:")
for player in players[:3]:
    print(player.title())

Here are the first three players on my team:
Charles
Martina
Michael

### Copying a List

In [37]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]

print("My favorite foods are:")
print(my_foods)

print("\nMy friend's favorite foods are:")
print(friend_foods)

My favorite foods are:
['pizza', 'falafel', 'carrot cake']

My friend's favorite foods are:
['pizza', 'falafel', 'carrot cake']

In [38]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]

my_foods.append('cannoli')
friend_foods.append('ice cream')

print("My favorite foods are:")
print(my_foods)

print("\nMy friend's favorite foods are:")
print(friend_foods)

My favorite foods are:
['pizza', 'falafel', 'carrot cake', 'cannoli']

My friend's favorite foods are:
['pizza', 'falafel', 'carrot cake', 'ice cream']

In [39]:
my_foods = ['pizza', 'falafel', 'carrot cake']

# This doesn't work:
friend_foods = my_foods

my_foods.append('cannoli')
friend_foods.append('ice cream')

print("My favorite foods are:")
print(my_foods)

print("\nMy friend's favorite foods are:")
print(friend_foods)

My favorite foods are:
['pizza', 'falafel', 'carrot cake', 'cannoli', 'ice cream']

My friend's favorite foods are:
['pizza', 'falafel', 'carrot cake', 'cannoli', 'ice cream']

Instead of storing a copy of my_foods in friend_foods, we set 
friend_foods equal to my_foods. This syntax actually tells Python to connect  the new variable friend_foods to the list that is already contained in 
my_foods, so now both variables point to the same list. As a result, when we 
add 'cannoli' to my_foods, it will also appear in friend_foods. Likewise 'ice 
cream' will appear in both lists, even though it appears to be added only to 
friend_foods.

# Tuples

Python refers to values that cannot 
change as immutable, and an immutable list is called a tuple. In other words, Tuples is a Permanent List.

In [44]:
dimensions = (200, 50)

print(dimensions[0])
print(dimensions[1])

200
50

In [42]:
dimensions[0] = 250

TypeError: 'tuple' object does not support item assignment

In [45]:
dimensions = (200, 50)
for dimension in dimensions:
     print(dimension)

200
50

### Writing over a Tuple

In [46]:
dimensions = (200, 50)
print("Original dimensions:")

for dimension in dimensions:
     print(dimension)
        
dimensions = (400, 100)
print("\nModified dimensions:")

for dimension in dimensions:
     print(dimension)

Original dimensions:
200
50

Modified dimensions:
400
100